@page
@model MyCarCare.Pages.Transactions.PartialView.CreateModel

<h4>MyCarTrx</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MyCarTrx.MyCarTrxTypeId" class="control-label"></label>
                <input asp-for="MyCarTrx.MyCarTrxTypeId" class="form-control" />
                <span asp-validation-for="MyCarTrx.MyCarTrxTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyCarTrx.MyCarId" class="control-label"></label>
                <select asp-for="MyCarTrx.MyCarId" class ="form-control" asp-items="ViewBag.MyCarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MyCarTrx.TrxDate" class="control-label"></label>
                <input asp-for="MyCarTrx.TrxDate" class="form-control" />
                <span asp-validation-for="MyCarTrx.TrxDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyCarTrx.TrxTime" class="control-label"></label>
                <input asp-for="MyCarTrx.TrxTime" class="form-control" />
                <span asp-validation-for="MyCarTrx.TrxTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyCarTrx.TrxMileage" class="control-label"></label>
                <input asp-for="MyCarTrx.TrxMileage" class="form-control" />
                <span asp-validation-for="MyCarTrx.TrxMileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyCarTrx.EnteredBy" class="control-label"></label>
                <input asp-for="MyCarTrx.EnteredBy" class="form-control" />
                <span asp-validation-for="MyCarTrx.EnteredBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
