@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
<div>
    <p><a href="/Main">Main Control</a> for Admin user</p>
    <p><a href="/Garage">Garage Control</a> for garage user</p>
    <p><a href="/Garage">Vehicle Control</a> for driver</p>
    <p><a href="/Garage">Driver Control</a> for fleet manager</p>

</div>
}
