@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyCarCare V.1.0</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">MyCarCare</a>.</p>

    <p>New to MyCarCare? <a href="/register">Register</a></p>
    <p>Have an account <a href="/login">Login</a></p>
</div>
