@page
@model Webapp.Pages.LoginModel
@{
    
}

<h1>Login</h1>
<p>
    Server info: @Model.serverinfo
</p>
<form method="post">
    <div>
        <div>
            <label>Login</label>
            <input type="text" id="login" value="abel" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="password" value="123456" />
        </div>
        <div>
            <input type="submit" value="login" />
        </div>

    </div>
</form>



